db.sqlite3
desktop.ini
deployment-host.json
db_credentials.json
.db_credentials.json
.htaccess
db.sql
mysql.sql
passwords.txt
*/migrations/
.idea/
venv/

**/__pycache__/
.DS_Store
node_modules
dist/
webpack-stats.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
