<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.ico">
    <title>Marks</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <script src="/static/bundle.js" defer></script>
</head>
<body>
    <noscript>
        <strong>We're sorry but marks_js doesn't work properly without
            JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" data-nav-classes="">
        <the-sidenav></the-sidenav>
        <app></app>
    </div>
</body>
</html>
