//@import "~chart.js/dist/Chart.min.css";
@import "~src/variables";
@import "~src/styles/charts";
//@import "~materialize-css/sass/materialize";

body {
    overflow: hidden;
}

main {
    background-color: $content-bg-color;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;

    @media #{$small-and-down} {
        padding: 20px 0;
    }
    @media #{$medium-and-up} {
        padding: 30px 20px 0;
    }

    @media #{$large-and-up} {
        & {
            margin-left: $sidenav-width;
        }
    }
}

main, .scroll, .dropdown-content {
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #666;
    }
}

.hide-scroll-on-s {
    @media #{$small-and-down} {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

h6 {
    font-size: 1.3em;
}

.light-text {
    color: rgba(30, 30, 30, 0.87) !important;
}

.dropdown-content {
    max-height: 500px;
}

main a:not(.btn):not([disabled]):hover {
    text-decoration: underline;
}
main a[disabled] {
    color: rgba(0, 0, 0, 0.87);
    cursor: initial;
}

.material-icons {
    user-select: none;
}

a[target="_blank"]:after {
    content: " open_in_new";
    font-family: "Material Icons";
    font-size: 0.875em;
    vertical-align: middle;
    /* height: 22.5px; */
    display: inline-block;
    padding-left: 2px;
}

.collapsible-header {
    outline: none
}

hr {
    opacity: 0.4;
}

.ul-title {
    margin-bottom: 0;
    + ul {
        margin-top: 0;
    }
}

ul.dashed {
    list-style-type: none;
    padding-left: 15px;
    > li:before {
        content: "\2013";
    }
}

.hint-text {
    color: #999;
}

@mixin hover-highlight {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &:hover:after {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.hover-highlight {
    @include hover-highlight;
}

.btn.light {
    @include hover-highlight;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
}

.right-button {
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}

.data-invalid {
    .material-icons {
        vertical-align: middle;
    }
    margin-top: 5px;
}
